#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}
#chat-screen .status-bar {
  z-index: 2;
}
#chat-screen .alt-header {
  top: 10px;
}
@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.main-chat {
  margin: 180px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chats__timestamp {
  color: white;
  background-color: #92a4b2;
  font-size: 14px;
  padding: 15px;
  margin: 0 0 25px 0;
  border-radius: 25px;
  animation: fadeIn 0.8s linear;
}

.message-row {
  width: 100%;
  display: flex;
  margin: 0 0 25px 0;
  opacity: 0;
}
.message-row img {
  width: 50px;
  height: 50px;
  margin: 0 15px 0 0;
  border-radius: 20px;
}
@keyframes fadeInSideL {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.message-row__left {
  animation: fadeInSideL 0.8s linear forwards;
  animation-delay: 0.8s;
}

.message__time,
.message__author {
  opacity: 0.8;
  font-size: 14px;
}
.message__author {
  margin: 0 0 5px 0;
  display: block;
}
.message__bubble {
  background-color: white;
  font-size: 18px;
  padding: 13px;
  margin: 0 5px 0 0;
  border-radius: 15px;
  border-top-left-radius: 0;
}
.message__info {
  display: flex;
  align-items: flex-end;
}

.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0;
  border-top-left-radius: 15px;
  margin: 0 0 0 5px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}
@keyframes fadeInSideR {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.message-row--own__right {
  animation: fadeInSideR 0.8s linear forwards;
  animation-delay: 1.6s;
}
.reply {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
.reply i {
  opacity: 0.5;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply input {
  width: 100%;
  padding: 12px;
  border: var(--main-border);
  border-radius: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -20px;
  top: 5px;
}
.reply__column:last-child i {
  top: 13px;
  right: 20px;
}
.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.reply__column button i {
  opacity: 1;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}
.reply:focus-within input:focus {
  width: 95vw;
  transform: translateX(-10%) translateY(-80px);
}
.reply:focus-within {
  transform: translateY(80px);
}
